<div class="container full-height">
<h1>All Recipes</h1>
<hr>



<% @recipes.each do |recipe| %>
  <div class="row my-5">
    <div class="col-6">
      <h3><%= recipe.name %></h3>
      <img style="max-width:600px;" src="<%= recipe.image_url %>" alt="<%= recipe.name %>">
      <div class="d-flex flex-wrap">
        <p class="me-2">Difficulty:<%= recipe.difficulty %></p>
        <p class="me-2">Food Type:<%= recipe.food_type %></p>
        <p class="me-2">Cusine:<%= recipe.cuisine %></p>
        <p class="me-2">Duration: <%= recipe.duration %> min.</p>
        <p class="me-2">Portions: <%= recipe.portion_size %></p>
      </div>
    </div>

    <div class="col-6">
      <% recipe.ingredients.each do |ingredient| %>
        <p><%= "#{ingredient['quantity']} #{ingredient['name']}" %></p>
      <% end %>

      <% recipe.instructions.each do |instruction| %>
        <p><%= "#{instruction['title']} - #{instruction['description']}" %></p>
      <% end %>
      </div>
  </div>
  <hr>
<% end %>

</div>
