<div class="container full-height-with-footer">
  <div class="card-container mt-5 mb-3">
    <h1 class="text-center mb-5 text-dark">Hi <%= @user.first_name %>, these are your saved combos!</h1>
    <div class="saved-recipe-container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4 saved-recipe-list">
        <% @user.matches.each do |match| %>
          <% if match.saved? %>
            <%= link_to match_path(match), class: "col d-flex flex-column align-items-center text-decoration-none" do %>
              <div class="card selectable-card w-100 position-relative overflow-hidden">
                <img src="<%= match.recipe.image_url %>"
                     alt="<%= match.recipe.name %>"
                     class="card-img">

                <div class="recipe-name"><%= match.recipe.name %></div>

                <div class="card-body">
                  <p class="card-text"><%= match.recipe.description %></p>
                </div>

                <div class="view-recipe">View Combo</div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
