<div class="card-container">
  <% if @music_suggestions.present? %>
    <% @music_suggestions.each do |music| %>

        <div class="card-product">
          <img src="<%= music.image_url%>" alt="<%= music.name %>">
          <div class="card-product-infos">
            <h2><%= music.name %></h2>
            <p><%= music.artists.join(', ') %></p>
          </div>
          <%= form_with url: select_music_matches_path, method: :post, data: { turbo: false } do %>
          <%= hidden_field_tag :music_suggestion_id, music.id %>
          <%= submit_tag "Select this #{music.album ? 'album' : 'playlist'}", class: "btn btn-info text-dark" %>
        </div>
      <% end %>
    <% end %>
    <% else %>
      <p>No music suggestions available at the moment.</p>
  <% end %>
</div>
