<% @match_data ||= {} %>

<div class="container full-height">
  <div class="row">
  <main class="form-content">
    <div class="col-12 text-center my-5">
      <h1>Find your Rhythm & Recipe</h1>
    </div>
    <div data-controller="form">
      <%= form_tag generate_match_path, method: :post do %>
        <!--Food Type Selection -->
        <div class="option-step-wrapper" data-form-target="step">
          <div class="col-12 text-center">
            <h2>What would you like to cook today?</h2>
            <p>Choose one option</p>
            <div class="option-layout-wrapper">
              <div class="option-layout">
                <div class="option-column left">
                  <% ['Vegan', 'Vegetarian'].each do |type| %>
                    <label class="option-card <%= type.downcase %>">
                      <%= radio_button_tag :food_type_selection, type, @match_data["food_type"] == type,
                        data: { action: "click->form#goToStep", step: "1" },
                        class: "hidden-radio" %>
                      <%= image_tag "icons/#{type.downcase}.png", alt: type, class: "option-icon" %>
                      <span class="option-label"><%= type %></span>
                    </label>
                  <% end %>
                </div>
                <div class="option-column center">
                  <% type = "Shuffle" %>
                  <label class="option-card <%= type.downcase %>">
                    <%= radio_button_tag :food_type_selection, type, @match_data["food_type"] == type,
                      data: { action: "form#handleShuffleClick" },
                      class: "hidden-radio" %>
                    <%= image_tag "icons/#{type.downcase}.png", alt: type, class: "option-icon" %>
                    <span class="option-label"><%= type %></span>
                  </label>
                </div>
                <div class="option-column right">
                  <% ['Meat', 'Seafood'].each do |type| %>
                    <label class="option-card <%= type.downcase %>">
                      <%= radio_button_tag :food_type_selection, type, @match_data["food_type"] == type,
                        data: { action: "click->form#goToStep", step: "1" },
                        class: "hidden-radio" %>
                      <%= image_tag "icons/#{type.downcase}.png", alt: type, class: "option-icon" %>
                      <span class="option-label"><%= type %></span>
                    </label>
                  <% end %>
                </div>
              </div>
              <div data-form-target="shuffleOutput" class="d-none mt-3 fw-bold"></div>
            </div>
          </div>
        </div>
        <!-- Difficulty -->
        <div class="d-none option-grid" data-controller="recipe" data-form-target="step">
          <div class="col-10 text-center">
            <h2 data-form-target="foodOutput">Choose the difficulty of the dish:</h2>
            <div class="d-flex flex-wrap justify-content-center form-align-center">
                <div><% level = "Easy" %><label class="option-card" id="difficulty-easy">
                  <%= radio_button_tag :difficulty_selection, level, @match_data["difficulty"] == level,
                    data: { action: "click->form#goToStep", step: "2" },
                    class: "hidden-radio" %>
                  <span class="option-label"><%= level %></span>
                </label></div>
                <div><% level = "Medium" %><label class="option-card" id="difficulty-medium">
                  <%= radio_button_tag :difficulty_selection, level, @match_data["difficulty"] == level,
                    data: { action: "click->form#goToStep", step: "2" },
                    class: "hidden-radio" %>
                  <span class="option-label"><%= level %></span>
                </label></div>
                <div><% level = "Hard" %><label class="option-card" id="difficulty-hard">
                  <%= radio_button_tag :difficulty_selection, level, @match_data["difficulty"] == level,
                    data: { action: "click->form#goToStep", step: "2" },
                    class: "hidden-radio" %>
                  <span class="option-label"><%= level %></span>
                </label></div>
            </div>
            <%= button_tag "← Go Back", type: :button, class: "btn-back",
              data: { action: "click->form#goToStep", step: "0" } %>
          </div>
        </div>
        <!-- Genre Selection -->
        <div class="d-none option-grid" data-form-target="step" id="genre-step">
          <% selected_genres = @match_data["genres"] || [] %>
          <div class="col-10 text-center">
            <h2>Select at least one music genre</h2>
              <div class="d-flex flex-wrap justify-content-center">
              <div class="mx-2">
                <% genre = "Pop" %><label class="option-card-genre sm" id="pop">
                  <%= check_box_tag "music_genres[]", genre, selected_genres.include?(genre),
                    data: { action: "click->form#goToStep", step: "2" },
                    class: "hidden-radio" %>
                  <span class="option-label sm"><%= genre %></span>
                </label>
              </div>

              <div class="mx-2">
                <% genre = "Rock" %><label class="option-card-genre sm" id="rock">
                  <%= check_box_tag "music_genres[]", genre, selected_genres.include?(genre),
                    data: { action: "click->form#goToStep", step: "2" },
                    class: "hidden-radio" %>
                  <span class="option-label sm"><%= genre %></span>
                </label>
              </div>

              <div class="mx-2">
                <% genre = "Hip-Hop" %><label class="option-card-genre sm" id="hiphop">
                  <%= check_box_tag "music_genres[]", genre, selected_genres.include?(genre),
                    data: { action: "click->form#goToStep", step: "2" },
                    class: "hidden-radio" %>
                  <span class="option-label sm"><%= genre %></span>
                </label>
              </div>

              <div class="mx-2">
                <% genre = "Rap" %><label class="option-card-genre sm" id="rap">
                  <%= check_box_tag "music_genres[]", genre, selected_genres.include?(genre),
                    data: { action: "click->form#goToStep", step: "2" },
                    class: "hidden-radio" %>
                  <span class="option-label sm"><%= genre %></span>
                </label>
              </div>

              <div class="mx-2">
                <% genre = "R&B" %><label class="option-card-genre sm" id="rnb">
                  <%= check_box_tag "music_genres[]", genre, selected_genres.include?(genre),
                    data: { action: "click->form#goToStep", step: "2" },
                    class: "hidden-radio" %>
                  <span class="option-label sm"><%= genre %></span>
                </label>
              </div>

              <div class="mx-2">
                <% genre = "Indie" %><label class="option-card-genre sm" id="indie">
                  <%= check_box_tag "music_genres[]", genre, selected_genres.include?(genre),
                    data: { action: "click->form#goToStep", step: "2" },
                    class: "hidden-radio" %>
                  <span class="option-label sm"><%= genre %></span>
                </label>
              </div>

              <div class="mx-2">
                <% genre = "Electronic" %><label class="option-card-genre sm" id="electronic">
                  <%= check_box_tag "music_genres[]", genre, selected_genres.include?(genre),
                    data: { action: "click->form#goToStep", step: "2" },
                    class: "hidden-radio" %>
                  <span class="option-label sm"><%= genre %></span>
                </label>
              </div>

              <div class="mx-2">
                <% genre = "Dance" %><label class="option-card-genre sm" id="dance">
                  <%= check_box_tag "music_genres[]", genre, selected_genres.include?(genre),
                    data: { action: "click->form#goToStep", step: "2" },
                    class: "hidden-radio" %>
                  <span class="option-label sm"><%= genre %></span>
                </label>
              </div>

              <div class="mx-2">
                <% genre = "Alternative" %><label class="option-card-genre sm" id="alternative">
                  <%= check_box_tag "music_genres[]", genre, selected_genres.include?(genre),
                    data: { action: "click->form#goToStep", step: "2" },
                    class: "hidden-radio" %>
                  <span class="option-label sm"><%= genre %></span>
                </label>
              </div>

              <div class="mx-2">
                <% genre = "Jazz" %><label class="option-card-genre sm" id="jazz">
                  <%= check_box_tag "music_genres[]", genre, selected_genres.include?(genre),
                    data: { action: "click->form#goToStep", step: "2" },
                    class: "hidden-radio" %>
                  <span class="option-label sm"><%= genre %></span>
                </label>
              </div>

              <div class="mx-2">
                <% genre = "Classical" %><label class="option-card-genre sm" id="classical">
                  <%= check_box_tag "music_genres[]", genre, selected_genres.include?(genre),
                    data: { action: "click->form#goToStep", step: "2" },
                    class: "hidden-radio" %>
                  <span class="option-label sm"><%= genre %></span>
                </label>
              </div>

              <div class="mx-2">
                <% genre = "Folk" %><label class="option-card-genre sm" id="folk">
                  <%= check_box_tag "music_genres[]", genre, selected_genres.include?(genre),
                    data: { action: "click->form#goToStep", step: "2" },
                    class: "hidden-radio" %>
                  <span class="option-label sm"><%= genre %></span>
                </label>
              </div>

              <div class="mx-2">
                <% genre = "Country" %><label class="option-card-genre sm" id="country">
                  <%= check_box_tag "music_genres[]", genre, selected_genres.include?(genre),
                    data: { action: "click->form#goToStep", step: "2" },
                    class: "hidden-radio" %>
                  <span class="option-label sm"><%= genre %></span>
                </label>
              </div>

              <div class="mx-2">
                <% genre = "Metal" %><label class="option-card-genre sm" id="metal">
                  <%= check_box_tag "music_genres[]", genre, selected_genres.include?(genre),
                    data: { action: "click->form#goToStep", step: "2" },
                    class: "hidden-radio" %>
                  <span class="option-label sm"><%= genre %></span>
                </label>
              </div>

              <div class="mx-2">
                <% genre = "Punk" %><label class="option-card-genre sm" id="punk">
                  <%= check_box_tag "music_genres[]", genre, selected_genres.include?(genre),
                    data: { action: "click->form#goToStep", step: "2" },
                    class: "hidden-radio" %>
                  <span class="option-label sm"><%= genre %></span>
                </label>
              </div>

              <div class="mx-2">
                <% genre = "Blues" %><label class="option-card-genre sm" id="pop">
                  <%= check_box_tag "music_genres[]", genre, selected_genres.include?(genre),
                    data: { action: "click->form#goToStep", step: "2" },
                    class: "hidden-radio" %>
                  <span class="option-label sm"><%= genre %></span>
                </label>
              </div>

              <div class="mx-2">
                <% genre = "Reggae" %><label class="option-card-genre sm" id="reggae">
                  <%= check_box_tag "music_genres[]", genre, selected_genres.include?(genre),
                    data: { action: "click->form#goToStep", step: "2" },
                    class: "hidden-radio" %>
                  <span class="option-label sm"><%= genre %></span>
                </label>
              </div>

              <div class="mx-2">
                <% genre = "Soul" %><label class="option-card-genre sm" id="soul">
                  <%= check_box_tag "music_genres[]", genre, selected_genres.include?(genre),
                    data: { action: "click->form#goToStep", step: "2" },
                    class: "hidden-radio" %>
                  <span class="option-label sm"><%= genre %></span>
                </label>
              </div>

              <div class="mx-2">
                <% genre = "Funk" %><label class="option-card-genre sm" id="funk">
                  <%= check_box_tag "music_genres[]", genre, selected_genres.include?(genre),
                    data: { action: "click->form#goToStep", step: "2" },
                    class: "hidden-radio" %>
                  <span class="option-label sm"><%= genre %></span>
                </label>
              </div>

              <div class="mx-2">
                <% genre = "Techno" %><label class="option-card-genre sm" id="techno">
                  <%= check_box_tag "music_genres[]", genre, selected_genres.include?(genre),
                    data: { action: "click->form#goToStep", step: "2" },
                    class: "hidden-radio" %>
                  <span class="option-label sm"><%= genre %></span>
                </label>
              </div>

              <div class="mx-2">
                <% genre = "Afro" %><label class="option-card-genre sm" id="afro">
                  <%= check_box_tag "music_genres[]", genre, selected_genres.include?(genre),
                    data: { action: "click->form#goToStep", step: "2" },
                    class: "hidden-radio" %>
                  <span class="option-label sm"><%= genre %></span>
                </label>
              </div>

              <div class="mx-2">
                <% genre = "Shuffle" %><label class="option-card-genre sm" id="shuffle">
                  <%= check_box_tag "genre_shuffle_temp", "1", false,
                    data: { action: "form#handleGenreShuffleClick" },
                    class: "hidden-radio" %>
                  <span class="option-label sm">
                    <%= genre %>
                  </span>
                </label>
              </div>




              <%= button_tag "← Go Back", type: :button, class: "btn-back",
                data: { action: "click->form#goToStep", step: "1" } %>
              <div data-form-target="genreShuffleOutput" class="d-none mt-3 fw-bold"></div>
            </div>
            <div data-form-target="genrePreview" class="genre-preview mt-4 text-center"></div>
          </div>
        </div>
        <!-- Album or Playlist -->
        <div class="d-none option-grid" data-form-target="musicFormat">
          <% ['Album', 'Playlist'].each do |format| %>
            <label class="option-card">
              <%= radio_button_tag :music_format_selection, format, false,
                data: { action: "click->form#submit" },
                class: "hidden-radio" %>
              <span class="option-label"><%= format %></span>
            </label>
          <% end %>
        </div>
      <% end %>
      <!-- Shuffle Confirmation Modal -->
      <div class="modal fade" id="shuffleModal" tabindex="-1" aria-labelledby="shuffleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body" id="shuffleModalBody">
              <!-- Will be filled by JS -->
            </div>
            <div class="modal-footer">
              <button type="button" class="button" data-bs-dismiss="modal">Change the food type</button>
              <button type="button" class="button" data-action="form#confirmShuffle">Sounds good!</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="genreShuffleModal" tabindex="-1" aria-labelledby="genreShuffleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Surprise Genre</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" id="genreShuffleModalBody">
            <!-- JS will insert chosen genre -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Nope</button>
            <button type="button" class="btn btn-primary" data-action="form#confirmGenreShuffle">Yes, go on!</button>
          </div>
        </div>
      </div>
    </div>
</main>
    </div>
  </div>
</div>
