
  <div class="container">
    <h2>Find your Rhythm & Recipe</h2>

  <div data-controller="form">
    <%= form_tag generate_match_path, method: :post do %>


  <div data-form-target="step">
    <h3>What would you like to cook today?</h3>
    <% ['Meat', 'Vegan', 'Vegetarian', 'Seafood', 'Shuffle'].each do |type| %>
      <label>
      <%= radio_button_tag :food_type_selection, type, false,
          data: { action: "change->form#goToStep", step: "1" } %> <%= type %>
      </label>
    <% end %>

    <div data-form-target="shuffleOutput" class="d-none" style="margin-top: 1rem; font-weight: bold;"></div>
  </div>




<div data-controller="recipe" data-form-target="step" class="d-none">
  <h3>What should the difficulty be?</h3>
  <% ['Easy', 'Medium', 'Hard'].each do |level| %>
    <label>
      <%= radio_button_tag :difficulty_selection, level, false,
            data: {
              action: "change->form#goToStep change->recipe#triggerJob",
              step: "2"
            } %> <%= level %>
    </label>
  <% end %>

  <%= button_tag "← Go Back", type: :button,
      data: { action: "click->form#goToStep", step: "0" } %>
</div>





  <div data-form-target="step" class="d-none">
    <h3>Select music genres:</h3>
    <% ['Pop', 'Rock', 'Hip-Hop', 'Rap', 'R&B', 'Indie', 'Electronic', 'Dance', 'Alternative',
     'Jazz', 'Classical', 'Folk', 'Country', 'Metal', 'Punk', 'Blues', 'Reggae',
     'Soul', 'Funk', 'Techno', 'Afro', 'Shuffle'].each do |genre| %>
  <label>
    <%= check_box_tag "music_genres[]", genre, false,
      data: { action: "change->form#goToStep", step: "2" } %> <%= genre %>
  </label>
<% end %>
<div data-form-target="genreShuffleOutput" class="d-none" style="margin-top: 1rem; font-weight: bold;"></div>




    <div data-form-target="musicFormat" class="d-none">
  <h3>Album or Playlist?</h3>
  <% ['Album', 'Playlist'].each do |format| %>
    <label>
      <%= radio_button_tag :music_format_selection, format %> <%= format %>
    </label>
  <% end %>
</div>

     <%= button_tag "← Go Back", type: :button,
      data: { action: "click->form#goToStep", step: "1" } %>

    <%= submit_tag "Find My Rhythm & Recipe!" %>
  </div>
<% end %>
  </div>
</div>

<!--<div class="d-none container">
  <h2 class="text-center text-white mb-4">Which recipe would you like to select?</h2>
  <div class="card-container">
    <% if @music_suggestions.present? %>
      <% @music_suggestions.each do |music| %>
        <div class="card-product">
        <img src="<%= music.image_url%>" alt="img">
          <div class="card-product-infos">
            <h2><%= music.name %></h2>
            <p><%= music.artists.join(', ') %></p>
          </div>
        </div>
      <% end %>
    <% else %>
      <p>No music suggestions available at the moment.</p>
    <% end %>
  </div>

  <div class="text-center mt-4">
    <%= button_to "Load more recipes", music_suggestions_matches_path(genre: params[:genre]), method: :get %>
  </div>
  </div>
</div>

<div class="d-none card-container">
  <h1>Which recipe would you like to select?</h1>
    <% @recipes.each do |recipe| %>
      <div class="card-product">
          <div class="card-category" style="background-image: url('https://images.unsplash.com/photo-1611270629569-8b357cb88da9?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');">
            <%= recipe.name %>
          </div>
          <div class="card-product-infos">
            <p><%=recipe.description %></p>
          </div>
      </div>
    <% end %>
  </div>
-->
