
<div class="container">
  <h2>Find your Rhythm & Recipe</h2>

  <div data-controller="form">
    <%= form_tag generate_match_path, method: :post do %>

    <div class="option-grid" data-form-target="step">
      <h3>What would you like to cook today?</h3>
      <% ['Meat', 'Vegan', 'Vegetarian', 'Seafood', 'Shuffle'].each do |type| %>
        <label class="option-card">
        <%= radio_button_tag :food_type_selection, type, false,
          data: { action: "change->form#goToStep", step: "1" },
          class: "hidden-radio" %>
        <span class="option-label"><%= type %></span>
        </label>
      <% end %>
      <div data-form-target="shuffleOutput" class="d-none" style="margin-top: 1rem; font-weight: bold;"></div>
    </div>

    <div class="d-none option-grid" data-controller="recipe" data-form-target="step">
      <h3>What should the difficulty be?</h3>
      <% ['Easy', 'Medium', 'Hard'].each do |level| %>
        <label class="option-card">
          <%= radio_button_tag :difficulty_selection, level, false,
            data: { action: "change->form#goToStep change->recipe#triggerJob", step: "2" },
            class: "hidden-radio" %>
          <span class="option-label"><%= level %></span>
        </label>
      <% end %>

      <%= button_tag "← Go Back", type: :button,
          data: { action: "click->form#goToStep", step: "0" } %>
    </div>

    <div class="d-none option-grid" data-form-target="step">
      <h3>Select music genres:</h3>
      <% ['Pop', 'Rock', 'Hip-Hop', 'Rap', 'R&B', 'Indie', 'Electronic', 'Dance', 'Alternative',
      'Jazz', 'Classical', 'Folk', 'Country', 'Metal', 'Punk', 'Blues', 'Reggae',
      'Soul', 'Funk', 'Techno', 'Afro', 'Shuffle'].each do |genre| %>
        <label class="option-card">
          <%= check_box_tag "music_genres[]", genre, false,
            data: { action: "change->form#goToStep", step: "2" },
            class: "hidden-radio" %>
          <span class="option-label"><%= genre %></span>
        </label>
      <% end %>
      <div data-form-target="genreShuffleOutput" class="d-none" style="margin-top: 1rem; font-weight: bold;"></div>
    </div>

    <div class="d-none option-grid" data-form-target="musicFormat">
      <h3>Album or Playlist?</h3>
      <% ['Album', 'Playlist'].each do |format| %>
        <label class="option-card">
          <%= radio_button_tag :music_format_selection, format, false,
            data: { action: "change->form#submit" },
            class: "hidden-radio" %>
            <span class="option-label"><%= format %></span>
        </label>
      <% end %>

      <%= button_tag "← Go Back", type: :button,
      data: { action: "click->form#goToStep", step: "1" } %>
    </div>

  <% end %>
  </div>
</div>
