<h2>Debug Params</h2>
<pre><%= debug params %></pre>


<h2>Your Rhythm & Recipe Results</h2>

<p><strong>Food Type:</strong> <%= @selected_food %></p>
<p><strong>Difficulty:</strong> <%= @difficulty %></p>
<p><strong>Genres:</strong> <%= @genres.join(", ") %></p>
<p><strong>Format:</strong> <%= @format %></p>
