<div class="container-fluid mt-5 full-height">
  <div class="row justify-content-center">
    <div class="col-10 d-flex justify-content-between">
      <div>
        <h1 class="mb-3"><%= @match.recipe.name %></h1>
        <div class="d-flex mb-2">
        <div>
          <%= turbo_frame_tag "save_button_#{@match.id}" do %>
            <% if @match.saved? %>
              <%= link_to "Remove this combo from saved",
                          unsave_match_path(@match),
                          data: { turbo_method: :patch },
                          class: "btn-save" %>
            <% else %>
              <%= link_to "Save this combo",
                          save_match_path(@match),
                          data: { turbo_method: :patch },
                          class: "btn-save" %>
            <% end %>
          <% end %>
        </div>

        <div class="ms-3" data-controller="matches">
          <input type="hidden" value="<%= match_url(@match) %>" data-matches-target="source">
          <a class="btn btn-primary text-light" id="copyBtn" data-action="matches#copy"><i class="fa-solid fa-share"></i> Share your combo</a>
        </div>

      </div>
        <p>Match created by: <%= @match.user.full_name %>
      </div>


    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-10 justify-content-between d-flex">
      <div class="col-6">

        <img class="recipe_image" src="<%= @match.recipe.image_url %>" alt="">

        <div class="d-flex detail-bubbles mt-3">
          <p class="details">Difficulty: <%= @match.recipe.difficulty %></p>
          <p class="details">Food Type: <%= @match.recipe.food_type %></p>
          <p class="details">Cuisine: <%= @match.recipe.cuisine %></p>
          <p class="details">Duration: ~<%= @match.recipe.duration %> min.</p>
          <p class="details">Portion Size: <%= @match.recipe.portion_size %></p>

        </div>
      </div>

      <div class="col-4">
        <% if @match.music_suggestion.present? %>
          <% embed_type = @match.music_suggestion.album ? "album" : "playlist" %>
          <% embed_url = "https://open.spotify.com/embed/#{embed_type}/#{@match.music_suggestion.spotify_id}" %>

          <iframe class="" style="border-radius:12px;"
                  src="<%= embed_url %>?utm_source=generator&theme=0"
                  width="100%"
                  height="100%"
                  frameborder="0"
                  allowfullscreen=""
                  allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                  loading="lazy">
          </iframe>
        <% else %>
          <p>No Spotify match available.</p>
        <% end %>
      </div>
    </div>
    <div class="col-10 justify-content-between d-flex mt-5">

    <div class="col-2">
      <h2>Ingredients</h2>
      <%# @match.recipe.ingredients.each do |ingredient| %>
        <%# <p><%#= "#{ingredient['quantity']} #{ingredient['name']}" %></p>
      <%# end %>

      <% ingredients = @match.recipe.ingredients.is_a?(String) ? JSON.parse(@match.recipe.ingredients) : @match.recipe.ingredients %>
        <% ingredients.each do |ingredient| %>
          <p><%= "#{ingredient['quantity']} #{ingredient['name']}" %></p>
        <% end %>

    </div>
    <div class="col-6">

      <h2>Instructions</h2>
      <%# @match.recipe.instructions.each do |instruction| %>
        <%# <p>= "#{instruction['title']} - #{instruction['description']}"</p> %>
      <%# end %>
      <% instructions = @match.recipe.instructions.is_a?(String) ? JSON.parse(@match.recipe.instructions) : @match.recipe.instructions %>
        <% instructions.each do |instruction| %>
          <p><%= "#{instruction['title']} - #{instruction['description']}" %></p>
        <% end %>
    </div>
  </div>
</div>
</div>
